recursive-include docs *
recursive-include scripts *
recursive-exclude output *
include environment.yml
recursive-include examples *
recursive-include src *
recursive-include src/xsd *
recursive-include *.xsd